<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/EstilosLogin.css}" />
  </head>
  <body>
    <div class="login-card">
      <h3>Welcome</h3>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-login w-100">
          Login
        </button>
      </form><br>
      <div class="register-link">
        Don't have an account? <a th:href="@{/register}">Register</a>
      </div>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
